.AboutMe
{
    width: 100%;
    height: auto;
    padding: 6rem;
    /* background-color: var(--SkyBlue); */
    display: flex;
    align-items: center;
    gap: 4rem;
	background-image: linear-gradient(to top, var(--White) 0%, var(--SkyBlue) 100%);
    
}
@media screen and (max-width: 500px) {
	.AboutMe {
		flex-direction: column;
        padding: 4rem;
   }
   
}