.Photo
{
    width: 35%;
    min-width: 300px;
    /* background-color: rgb(255,255,255,.2); */
    display: flex;
    align-items: center;
    justify-self: center;
    position: relative;
    
}
.Photo img
{
    max-width: 100%;
    max-height: 100%;
    opacity: .85;
    border-radius: .5rem;
    box-shadow: -5px 10px 10px 1px rgba(0, 0, 0, 0.55);
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px, rgba(0, 0, 0, 0.53) 0px 6px 6px; */

}