
@keyframes line {
	0% {
		right: 0;
		width: 100%;
		opacity: 0;
   }
}
@media screen and (max-width: 550px) {
	.Homepage__text {
		padding: 20px;
		margin: 90px 0 40px 0;
   }
}
@keyframes text {
	0% {
		opacity: 0;
		transform: translateX(200px);
   }
}
@keyframes image {
	0% {
		opacity: 0;
		transform: translatey(200px);
   }
}
@keyframes imageBefore {
	0% {
		height: 100%;
		top: 0;
   }
}
 .Homepage {
	 width: 100%;
	 height: fit-content;
	 min-height: 100%;
	 height: auto;
	 position: relative;
	 padding: 2rem;
	 background-image: linear-gradient(to top, var(--SkyBlue) 0%, var(--White) 100%);
	 overflow:hidden;
	 display: flex;
	 align-items: center;
	 justify-content: center;
}
@media screen and (max-height: 600px) {
	.Homepage {
		height: 600px;
   }
}

.Homepage-Content
{
	width: 90%;
	min-width: 150px;
	min-height: 600px;
	height: fit-content;
	display: flex;
	align-items: center;
	/* border: 1px solid #637498; */
	position: relative;
}
.Homepage-MyInfo
{
	z-index: 1;
	color: #637498;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 2.5rem;
	/* margin-top: 100px; */
	width: 55%;
	min-width: 220px;
	backdrop-filter: blur(8px);
	animation: text 0.8s 0.6s ease backwards;
	position: relative;
}
.Homepage-MyInfo:before {
	content: "";
	position: absolute;
	width: 5px;
	height: 100%;
	background-color: var(--LightBlack);
	top: 0;
	left: 0;
	animation: line 0.8s 0.6s ease backwards;
}

.Homepage-Title-Mid
{
	font-size: x-large;
	color: var(--Black);
	font-weight: bold;
}
.Homepage-Title-Big
{
	font-size: xxx-large;
	color: var(--Blue);
	font-weight: bold;
}

.Homepage-Image
{
	/* border: 1px solid black; */
	/* flex: 1; */
	max-height: 100%;
	width: 50%;
	position: absolute;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	/* overflow: hidden; */
	animation: image 0.6s 0.2s ease backwards;
}
.Homepage-Image img
{
	max-width: 100%;
	max-height: 100%;
	opacity: .8;
}
/* .Homepage-Image:before,
 .Homepage-Image:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 0%;
	top: 100%;
	background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
	opacity: 1;
	left: 0;
}
.Homepage-Image:after {
	background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
	height: 100%;
	top: 0;
	opacity: .2;
}
.Homepage-Image:before
{
	animation: imageBefore 1s 0.2s ease backwards;
} */




@media screen and (max-width: 550px) {
	 .Homepage-Image {
		width: 80%;
		right: -5rem;
	}
}








 .Homepage__content {
	 /* max-width: 1110px; */
	 width: 80%;
	height: 90%;
	 min-height: 600px;
	 left: 50%;
	 transform: translateX(-50%);
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 position: relative;
}
 @media screen and (max-width: 550px) {
	 .Homepage__content {
		 min-height: 500px;
	}
}
 .Homepage__text {
	 z-index: 1;
	 color: #637498;
	 background-color: rgba(255, 255, 255, 0.2);
	 padding: 40px;
	 /* margin-top: 100px; */
	 width: 60%;
	 backdrop-filter: blur(8px);
	 animation: text 0.8s 0.6s ease backwards;
	 position: relative;
}
 .Homepage__text:before {
	 content: "";
	 position: absolute;
	 width: 5px;
	 height: 100%;
	 background-color: var(--LightBlack);
	 top: 0;
	 left: 0;
	 animation: line 0.8s 0.6s ease backwards;
}

 .mainHeading__preTitle {
	 /* text-transform: uppercase; */
	 font-size: 2rem;
	 font-weight: bold;
	 letter-spacing: 2px;
	 margin-bottom: 16px;
	 color: var(--LightBlack);
}
 .mainHeading__title {
	 /* text-transform: uppercase; */
	 font-weight: 2000;
	 letter-spacing: 2px;
	 margin-bottom: 24px;
	 font-size: 3rem;
	 color: var(--Blue);
}
 @media screen and (max-width: 550px) {
	 .mainHeading__title {
		 margin-bottom: 16px;
		 font-size: 28px;
	}
}
 .mainHeading__description {
	 letter-spacing: 0.5px;
	 font-size: 1.3rem;
	 line-height: 1.8rem;
	

}
 @media screen and (max-width: 550px) {
	 .mainHeading__description {
		 font-size: 14px;
	}
}
 .Homepage__image {
	 right: -10%;
	 max-width: 600px;
	 width: 60%;
	 height: 600px;
	 height: 100%;

	 transform: translatey(100px);
	 position: absolute;
	 overflow: hidden;
	 animation: image 0.6s 0.2s ease backwards;
	 display: flex;
	 align-items: flex-start;
}
 @media screen and (max-width: 550px) {
	 .Homepage__image {
		 height: 80%;
		 width: 80%;
		 transform: translatey(80px);
		 right: -25%;
		 display: flex;
		 align-items: center;
	}
}

 .Homepage__image:before, .Homepage__image:after {
	 content: "";
	 position: absolute;
	 width: 100%;
	 height: 0%;
	 top: 100%;
	 background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
	 opacity: 1;
	 left: 0;
}
 .Homepage__image:before {
	 animation: imageBefore 1s 0.2s ease backwards;
}

 .Homepage__image:after {
	 background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
	 height: 100%;
	 top: 0;
	 opacity: 0.2;
}
 .Homepage__image img {
	width: 60%;
	/* height: 100%; */
}
 .cta {
	 padding: 16px 32px;
	 color: #637498;
	 background-color: transparent;
	 border: 1px solid rgba(99, 116, 152, 0.4);
	 font-family: "Raleway", sans-serif;
	 text-transform: uppercase;
	 letter-spacing: 2px;
	 font-weight: 600;
	 margin-top: 32px;
	 cursor: pointer;
	 box-shadow: inset 0px 0px 0px rgba(99, 116, 152, 0.2);
	 transition: all 0.4s ease;
}
 .cta:hover {
	 border: 1px solid rgba(99, 116, 152, 0.1);
	 box-shadow: inset 0px -80px 0px rgba(99, 116, 152, 0.1);
	 transform: translateY(-5px);
}
 @media screen and (max-width: 550px) {
	 .cta {
		 margin-top: 16px;
	}
}
 