.InfoBoxWithLink
{
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}
.InfoBoxWithLink a
{
    font-size: medium;
    overflow-wrap: anywhere;
}
.LinkButton
{
    font-size: large;
    padding: .5rem;
    border-radius: .5rem;
    background-color: rgb(0,0,0,.1);
    color: gray;
    cursor: pointer;
}
.LinkButton:hover
{
    background-color: rgb(0,0,0,.3);
    color: white;
}