.MenuList
{
  height: 90%;
  /* width: 100%; */
  /* display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column; */
  gap: 3rem;
  overflow: auto;
  list-style-type: none;
  padding: 1.5rem 5rem;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr)); */
  /* gap: 5rem; */

}
@media screen and (max-width: 550px) {
	.MenuList {
    /* grid-template-columns: 1fr; */
  padding: 1.5rem 2rem;

   }
}
/* Style the scrollbar */
.MenuList::-webkit-scrollbar {
  width: 0px; /* Adjust the width as needed */
}

.MenuList::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.MenuList:hover::-webkit-scrollbar-thumb {
  background: #555;
}
.MenuList-Li
{
  padding: 1rem;
  background-color: rgb(255,255,255,.1);
  cursor: pointer;
  color: white;
}
.MenuList-Li:hover
{
  background-color: rgb(255,255,255,.3);
}



