.NavBar
{
    background-color: var(--Black);
    height: 3rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
}
.Meun
{
    width: 400px;
    height: 100%;
    background-color: rgb(0,0,0,.1);
}
